<div class="container">
    <div class="row" >
        <div class="row-mb-12" >
            <div class="col-md-6 col-md-offset-6" style=" margin:0px auto">
<h1>Editar Usuario</h1>

<div class="card" style="width: 26rem; margin:0 auto; margin-top: 20px;">
<div class="card-body">

<form action="/editUsuario/{{_id}}" method="POST">
     <div class="form-group mb-3">
        <label for="">Ingrese rutUsuario</label>
        <input class="form-control" type="text" placeholder="rutUsuario" name="rutUsuario" value="{{rutUsuario}}" required>
    </div>
    <div class="form-group mb-3">
        <label for="">Ingrese nombreCompletoUsuario</label>
        <input class="form-control" type="text" placeholder="nombreCompletoUsuario" name="nombreCompletoUsuario" value="{{nombreCompletoUsuario}}" required>
    </div>
        <div class="form-group mb-3">
        <label for="">Ingrese fechaNacimientoUsuario</label>
        <input class="form-control" type="date" placeholder="fechaNacimientoUsuario" name="fechaNacimientoUsuario" value="{{fechaNacimientoUsuario}}" required>
    </div>
    <div class="form-group mb-3">
        <label for="">Ingrese un direccionUsuario</label>
        <input class="form-control" type="text" placeholder="direccionUsuario" name="direccionUsuario" value="{{direccionUsuario}}" required>
    </div>
    <div class="form-group mb-3">
        <label for="">Ingrese un correoUsuario</label>
        <input class="form-control" type="text" placeholder="correoUsuario" name="correoUsuario" value="{{correoUsuario}}" required>
    </div>
    <div class="form-group mb-3">
        <label for="">Ingrese un contrase単aUsuario</label>
        <input class="form-control" type="text" placeholder="contrase単aUsuario" name="contrase単aUsuario" value="{{contrase単aUsuario}}" required>
    </div>
    <div class="form-group mb-3">
        <label for="">Ingrese un estadoCuentaUsuario</label>
        <input class="form-control" type="text" placeholder="estadoCuentaUsuario" name="estadoCuentaUsuario" value="{{estadoCuentaUsuario}}" required>
    </div>
    <div class="form-group mb-3">
        <label for="">Ingrese un cantidadMaximaAPedirUsuario</label>
        <input class="form-control" type="text" placeholder="cantidadMaximaAPedirUsuario" name="cantidadMaximaAPedirUsuario" value="{{cantidadMaximaAPedirUsuario}}" required>
    </div>
    <div class="form-group mb-3">
        <label for="">Ingrese un idPerfil</label>
        <input class="form-control" type="text" placeholder="idPerfil" name="idPerfil" value="{{idPerfil}}" required>
    </div>

<button class="btn btn-primary">editar</button>
</form>

</div>

</div>