<h1>edit</h1>

<form action="/editUsuario/{{_id}}" method="POST">

     <div>
        <label for="">Ingrese rutUsuario</label>
        <input type="text" placeholder="rutUsuario" name="rutUsuario" value="{{rutUsuario}}">
    </div>
    <div>
        <label for="">Ingrese nombreCompletoUsuario</label>
        <input type="text" placeholder="nombreCompletoUsuario" name="nombreCompletoUsuario" value="{{nombreCompletoUsuario}}">
    </div>
        <div>
        <label for="">Ingrese fechaNacimientoUsuario</label>
        <input type="text" placeholder="fechaNacimientoUsuario" name="fechaNacimientoUsuario" value="{{fechaNacimientoUsuario}}">
    </div>
    <div>
        <label for="">Ingrese un direccionUsuario</label>
        <input type="text" placeholder="direccionUsuario" name="direccionUsuario" value="{{direccionUsuario}}">
    </div>
    <div>
        <label for="">Ingrese un correoUsuario</label>
        <input type="text" placeholder="correoUsuario" name="correoUsuario" value="{{correoUsuario}}">
    </div>
    <div>
        <label for="">Ingrese un contrase単aUsuario</label>
        <input type="text" placeholder="contrase単aUsuario" name="contrase単aUsuario" value="{{contrase単aUsuario}}">
    </div>
    <div>
        <label for="">Ingrese un estadoCuentaUsuario</label>
        <input type="text" placeholder="estadoCuentaUsuario" name="estadoCuentaUsuario" value="{{estadoCuentaUsuario}}">
    </div>
    <div>
        <label for="">Ingrese un cantidadMaximaAPedirUsuario</label>
        <input type="text" placeholder="cantidadMaximaAPedirUsuario" name="cantidadMaximaAPedirUsuario" value="{{cantidadMaximaAPedirUsuario}}">
    </div>
    <div>
        <label for="">Ingrese un idPerfil</label>
        <input type="text" placeholder="idPerfil" name="idPerfil" value="{{idPerfil}}">
    </div>



<button>editar</button>
</form>