    <table class="table table-bordered">
    <thead>
        <tr>
            <th>título</th>
            <th>editorial</th>
            <th>autor</th>
            <th>estadoLibro</th>
            <th>clasificacion</th>
            <th>cantidadTotal</th>
            <th>cantidadDisponible</th>
            <th>controles</th>
            <th>reseñas</th>
        </tr>
                <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th><th></th>
            <th></th><th></th>
            <th>usuario</th><th>descripcion</th><th>puntaje</th>
        </tr>
    </thead>
    <tbody>
        {{#each libros}}
        <tr>
            <td>{{tituloLibro}}</td>
            <td>{{editorialLibro}}</td>
            <td>{{autorLibro}}</td>
            <td>{{estadoLibro}}</td>
            <td>{{clasificacionLibro}}</td>
            <td>{{cantidadTotalLibro}}</td>
            <td>{{cantidadDisponibleLibro}}</td>
                        <td>
                <a href="/editLibro/{{_id}}">editar</a>
                <a href="/deleteLibro/{{_id}}">eliminar</a>
            </td>    
            {{#each resenaLibro}}
                <td>{{nombreUsuario}}</td>
                <td>{{resenaPorUsuario}}</td>
                <td>{{puntuacion}}</td>
            {{/each}}

        </tr>
        {{/each}}
    </tbody>

</table>




